/* General CSS for the website */

/* Font Choice */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Color Variables */
:root {
    --pastel-blue: #e3f2fd;
    --dark-blue: #0d47a1;
    --light-blue: #81d4fa;
    --grey-blue: #b0bec5;
    --white: #ffffff;
    --text-dark: #6c757d;
    --black: #000000;
    --github-green: #2ea44f;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--white);
    display: block;
    flex-direction: column;
    width: 100%;
}


p {
    color: var(--text-dark);
}

html {
    scroll-behavior: smooth;
}

a,
.btn {
    transition: all 300ms ease;
}

/* ICONS */
.icon {
    cursor: pointer;
    height: 2rem;
}

section {
    height: 96vh;
    margin: 0 5%;
    box-sizing: border-box;
    min-height: fit-content;
}


/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1 {
    background: var(--light-blue);
    border: var(--black) 0.1rem solid;
}

.btn-color-1:hover {
    background: var(--dark-blue);
    color: var(--white);
    cursor: pointer;
}

.btn-color-2 {
    background: var(--white);
    border: var(--black) 0.1rem solid;
}

.btn-color-2:hover {
    background: var(--pastel-blue);
    color: var(--black);
    border: var(--black) 0.1rem solid;
    cursor: pointer;
}

.btn-container {
    gap: 1rem;
}

.github-btn {
    background: var(--white);
    border: var(--black) 0.1rem solid;
}

.github-btn:hover {
    background: var(--github-green);
    color: var(--white);
    border: var(--black) 0.1rem solid;
    cursor: pointer;
}
