@media screen and (max-width: 1400px) {

    .about-containers {
        flex-wrap: wrap;
    }
    #contact,
    #projects {
        height: fit-content;
    }
    section {
        margin-bottom: 6rem;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }
    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }

    .arrow {
        display: none;
    }
    section,
    .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }

    .project-title {
        text-decoration: dashed;
    }
}


@media screen and (max-width: 600px) {

    /* Profile Section */
    .profile-container {
        height: 45%;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        gap: 0.1rem;
    }

    .btn-container button {
        height: 2rem;
        padding: 0px;
    }

    .btn-container p {
        align-self: center;
    }


    .project-title {
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        font-size: 1rem;
    }

    .project-subtitle {
        font-size: 0.75rem;
    }
    
    .tags-container {
        display: flex;
        margin-top: 0rem;
        margin-bottom: 0rem;
        height: 5%;
    }

    .tags-container div {
        font-size: 0.5rem;
    }

    .slideshow-container {
        padding-left: 1rem;
        padding-right: 1rem;
        align-content: center;
        height: 60%;
    }

    .project-description {
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        height: 15%;
        font-size: 0.75rem;
        text-overflow: clip;
    }

    .project-btn-container {
        height: 10%;
        align-items: center;
    }

    .mySlides {
        align-items: center;
        width: 100%;
        height: 100%;
    }

    #contact,
    footer {
        height: auto;
        margin-bottom: 4rem;
    }

    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
    section {
        margin-bottom: 4rem;
    }

    /* Projects Section Adjustments */
    .projects {
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
        justify-content: center;
    }
}
