/* NBA-API.css */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #333;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

h1 {
    margin: 0 0 20px 0;
}

.dropdown-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.dropdown {
    margin: 0 10px;
    flex: 1;
}

label {
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.placeholder-image {
    width: 100%;
    height: auto;
    max-height: 80%; /* Adjust as needed */
    object-fit: contain;
    margin: 20px 0;
}

.submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #006bb6; /* NBA blue */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #005a9e; /* Darker NBA blue */
}
