<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Steven Egnaczyk's Portfolio - Showcasing my skills and projects in Computer Science and Engineering.">
        <meta name="keywords" content="Steven Egnaczyk, Portfolio, Computer Science, Projects, Experience, Contact">
        <meta property="og:title" content="Steven Egnaczyk's Portfolio">
        <meta property="og:description" content="Showcasing my skills and projects in Computer Science and Engineering.">
        <meta property="og:image" content="URL_to_profile_picture">
        <title>My Portfolio</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/mediaqueries.css">
    </head>
    
<body>
    <nav id="desktop-nav">
        <div class="logo">
            <img src="../static/assets/Egg.png" alt="Logo" class="icon">
            Steven Egnaczyk
        </div>
        <div>
            <ul class="nav-links">
                <li><a href="#about">About</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <nav id="hamburger-nav">
        <div class="logo">
            <img src="../static/assets/Egg.png" alt="Logo" class="icon">
            Steven Egnaczyk
        </div>
            <div class="hamburger-menu">
            <div class="hamburger-icon" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="menu-links">
                <ul>
                    <li><a href="#about" onclick="toggleMenu()">About</a></li>
                    <li><a href="#experience" onclick="toggleMenu()">Experience</a></li>
                    <li><a href="#projects" onclick="toggleMenu()">Projects</a></li>
                    <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="profile">
        <div class="profile-section-container">
            <div class="profile-container">
                <div class="profile-container-picture">
                    <img class="profile-pic" src="../static/assets/profile-pic.png" alt="Steven Egnaczyk Profile Picture">
                </div>
                <div class="profile-btn-container">
                    <button class="btn profile-btn btn-color-2" onclick="window.open('../static/assets/resume.pdf')">
                        Download CV
                    </button>
                    <button class="btn profile-btn btn-color-1" onclick="location.href='../static/#contact'">
                        Contact Info
                    </button>
                </div>
                    
                <div class="socials-container">
                    <img 
                        src="../static/assets/linkedin.png" 
                        alt="My LinkedIn Profile"
                        onclick="location.href='https://www.linkedin.com/in/steven-egnaczyk-949a71208/'"
                    />
                    <img 
                        src="../static/assets/github.png" 
                        alt="My GitHub Profile"
                        onclick="location.href='https://github.com/StevenEgnaczyk'"
                    />
                </div>
            </div>
            <div class="highlighted-project-container">
                <h1 class="highlighted-project-title">Most Recent Project</h1>
                <h2 class="highlighted-project-subtitle">Spotify Genie</h2>
                <div class="highlighted-project-tags-container">
                    <div class="highlighted-tag tag python-tag">Python</div>
                    <div class="tag flask-tag">Flask</div>
                    <div class="tag react-tag">React</div>
                    <div class="tag docker-tag">Docker</div>
                    <div class="tag api-tag">API Usage</div>
                    <div class="tag tensorflow-tag">Tensorflow</div>
                </div>
                <div class="highlighted-project-slideshow-container" data-slideshow="0">
                    <a class="prev" onclick="plusHighlightedSlides(-1, 0)">&#10094;</a>
                    <div class="highlighted-slide fade">
                        <img src="../static/assets/Projects/SpotifyGenie/SpotifyGenie_1.png" alt="Project 1" class="project-img">
                    </div>
                    <div class="highlighted-slide fade">
                        <img src="../static/assets/Projects/SpotifyGenie/SpotifyGenie_2.png" alt="Project 2" class="project-img">
                    </div>
                    <div class="highlighted-slide fade">
                        <img src="../static/assets/Projects/SpotifyGenie/SpotifyGenie_3.png" alt="Project 3" class="project-img">
                    </div>
                    
                    <a class="next" onclick="plusHighlightedSlides(1, 0)">&#10095;</a>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        let highlightedSlideIndex = 0;
                        showHighlightedSlides(highlightedSlideIndex, 0);
                        
                        function plusHighlightedSlides(n, containerIndex) {
                            showHighlightedSlides(highlightedSlideIndex += n, containerIndex);
                        }
                        
                        function showHighlightedSlides(n, containerIndex) {
                            let i;
                            let slides = document.querySelectorAll(`.highlighted-project-slideshow-container[data-slideshow="${containerIndex}"] .highlighted-slide`);
                            if (n >= slides.length) {
                                highlightedSlideIndex = 0;
                            } else if (n < 0) {
                                highlightedSlideIndex = slides.length - 1;
                            }
                            for (i = 0; i < slides.length; i++) {
                                slides[i].style.display = "none";
                            }
                            slides[highlightedSlideIndex].style.display = "block";
                        }
                
                        // Make sure to handle the slide buttons
                        document.querySelector(".prev").addEventListener("click", function() {
                            plusHighlightedSlides(-1, 0);
                        });
                
                        document.querySelector(".next").addEventListener("click", function() {
                            plusHighlightedSlides(1, 0);
                        });
                    });
                </script>
                <p class="highlighted-project-description">
                    Machine learning project that uses user playlists, song lyrics, and machine learning to recommend songs based on user preferences.
                </p>
                <div class="highlighted-project-btn-container">
                    <button class="highlighted-btn github-btn"
                        onclick="location.href='https://github.com/LukeAMcSherry/CSE5914-SpotifyGroup'">
                            GitHub
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section id="projects">
        <h1 class="title">Recent Projects</h1>
        <div class="projects-container">
            <div class="project-tabs">

                <!-- All Tab -->
                <input class="checkbox-all" id="all" type="radio" name="checkbox" checked="checked"/>
                <label for="all" class="checkbox-label">All</label>

                <!-- Project-Specific Tabs -->
                <input class="checkbox-data-science" id="data-science" type="radio" name="checkbox"/>
                <label for="data-science" class="checkbox-label">Data Science</label>

                <input class="checkbox-machine-learning" id="machine-learning" type="radio" name="checkbox"/>
                <label for="machine-learning" class="checkbox-label">Machine Learning</label>

                <input class="checkbox-software-development" id="software-development" type="radio" name="checkbox"/>
                <label for="software-development" class="checkbox-label">Software Development</label>

                <input class="checkbox-other" id="other" type="radio" name="checkbox"/>
                <label for="other" class="other">Other</label>

            </div>

            <div class="projects">

                <!-- Spotify Genie -->
                <div class="project show machine-learning">
                    <h2 class="project-title">Spotify Genie</h2>
                    <div class="tags-container">
                        <span class="tag python-tag">Python</span>
                        <span class="tag flask-tag">Flask</span>
                        <span class="tag react-tag">React</span>
                        <span class="tag docker-tag">Docker</span>
                        <span class="tag api-tag">API Usage</span>
                        <span class="tag tensorflow-tag">Tensorflow</span>
                    </div>
                    <div class="slideshow-container" data-slideshow="1">
                        <div class="mySlides fade">
                            <img src="../static/assets/Projects/SpotifyGenie/SpotifyGenie_1.png" alt="Project 1" class="project-img">
                        </div>
                        <div class="mySlides fade">
                            <img src="../static/assets/Projects/SpotifyGenie/SpotifyGenie_2.png" alt="Project 2" class="project-img">
                        </div>
                        <div class="mySlides fade">
                            <img src="../static/assets/Projects/SpotifyGenie/SpotifyGenie_3.png" alt="Project 3" class="project-img">
                        </div>
                        <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
                    </div>
                    <p class="project-description">
                        Machine learning project that uses user playlists, song lyrics, and machine learning to recommend songs based on user preferences.
                    </p>
                    <div class="btn-container">
                        <button class="btn github-btn"
                        onclick="location.href='https://github.com/LukeAMcSherry/CSE5914-SpotifyGroup'">
                            GitHub
                        </button>
                        <button class="project-btn-invalid"
                        onclick="location.href=''">
                            Live Demo
                        </button>
                    </div>
                </div>

                <!-- Sorting Algorithm Visualizer -->
                <div class="project show software-development">
                    <h2 class="project-title">Sorting Visualizer</h2>
                    <div class="tags-container">
                        <span class="tag java-tag">Java</span>
                    </div>
                    <div class="slideshow-container" data-slideshow="2">
                        <div class="mySlides fade">
                            <img src="../static/assets/Projects/SortingAlgorithmVisualizer/SortingAlgorithmVisualizer_1.png" alt="Project 1" class="project-img">
                        </div>
                        <div class="mySlides fade">
                            <img src="../static/assets/Projects/SortingAlgorithmVisualizer/SortingAlgorithmVisualizer_2.png" alt="Project 2" class="project-img">
                        </div>
                        <div class="mySlides fade">
                            <img src="../static/assets/Projects/SortingAlgorithmVisualizer/SortingAlgorithmVisualizer_3.png" alt="Project 3" class="project-img">
                        </div>
                        <div class="mySlides fade">
                            <img src="../static/assets/Projects/SortingAlgorithmVisualizer/SortingAlgorithmVisualizer_4.png" alt="Project 3" class="project-img">
                        </div>
                        <a class="prev" onclick="plusSlides(-1, 2)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1, 2)">&#10095;</a>
                    </div>
                    <p class="project-description">
                        Sorting algorithm visualizer that displays the process of sorting algorithms in real-time.    
                    </p>
                    <div class="btn-container">
                        <button class="btn github-btn"
                        onclick="location.href='https://github.com/'">
                            GitHub
                        </button>
                        <button class="project-btn-invalid"
                        onclick="location.href='https://github.com/'">
                            Live Demo
                        </button>
                    </div>
                </div>

                <!-- Legend of Zelda Game -->
                <div class="project show software-development">
                    <h2 class="project-title">Legend of Zelda Game</h2>
                    <div class="tags-container">
                        <span class="tag cpp-tag">C++</span>
                    </div>
                    <div class="slideshow-container" data-slideshow="3">
                        <div class="mySlides fade">
                            <img src="../static/assets/Projects/LegendOfZelda/LOZ_3.png" alt="Project 1" class="project-img">
                        </div>
                        <div class="mySlides fade">
                            <img src="../static/assets/Projects/LegendOfZelda/LOZ_2.png" alt="Project 2" class="project-img">
                        </div>
                        <div class="mySlides fade">
                            <img src="../static/assets/Projects/LegendOfZelda/LOZ_1.png" alt="Project 3" class="project-img">
                        </div>
                        <a class="prev" onclick="plusSlides(-1, 3)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1, 3)">&#10095;</a>
                    </div>
                    <p class="project-description">
                        Recreation of the first Legend of Zelda Dungeon using C++.    
                    </p>
                    <div class="btn-container">
                        <button class="btn github-btn"
                        onclick="location.href='https://github.com/'">
                            GitHub
                        </button>
                        <button class="project-btn-invalid"
                        onclick="location.href='https://github.com/'">
                            Live Demo
                        </button>
                    </div>
                </div>

                <!-- NBA Statistics API -->
                <div class="project show data-science">
                    <h2 class="project-title">NBA Stats API</h2>
                    <div class="tags-container">
                        <span class="tag python-tag">Python</span>
                        <span class="tag api-tag">API Usage</span>
                        <span class="tag matplotlib-tag">Matplot Lib</span>
                    </div>
                    <div class="slideshow-container" data-slideshow="4">
                        <div class="mySlides fade">
                            <img src="../static/assets/Projects/NBA API/nba_1.png" alt="Project 1" class="project-img">
                        </div>
                        <div class="mySlides fade">
                            <img src="../static/assets/Projects/NBA API/nba_2.png" alt="Project 2" class="project-img">
                        </div>
                        <div class="mySlides fade">
                            <img src="../static/assets/Projects/NBA API/nba_3.png" alt="Project 3" class="project-img">
                        </div>
                        <a class="prev" onclick="plusSlides(-1, 4)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1, 4)">&#10095;</a>
                    </div>
                    <p class="project-description">
                        API that retrieves NBA team statistics and displays them in a user-friendly format.    
                    </p>
                    <div class="btn-container">
                        <button class="btn github-btn"
                        onclick="location.href='https://github.com/'">
                            GitHub
                        </button>
                        <button class=" btn project-btn"
                        onclick="location.href='projects/nba-api.html'">
                            Live Demo
                        </button>
                    </div>
                </div>

                <!-- NullPointerException -->
                <div class="project show other">
                    <h2 class="project-title">NullPointerException</h2>
                    <div class="tags-container">
                        <span class="tag youtube-tag">YouTube</span>
                    </div>
                    <div class="slideshow-container" data-slideshow="5">
                        <div class="mySlides fade">
                            <img src="../static/assets/Projects/NullPointerException/NullPointerException_1.png" alt="Project 1" class="project-img">
                        </div>
                        <div class="mySlides fade">
                            <img src="../static/assets/Projects/NullPointerException/NullPointerException_2.png" alt="Project 2" class="project-img">
                        </div>
                        <div class="mySlides fade">
                            <img src="../static/assets/Projects/NullPointerException/NullPointerException_3.png" alt="Project 3" class="project-img">
                        </div>
                        <a class="prev" onclick="plusSlides(-1, 5)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1, 5)">&#10095;</a>
                    </div>
                    <p class="project-description">
                        Educational Computer Science YouTube channel specializing in general-purpose lectures.    
                    </p>
                    <div class="btn-container">
                        <button class="project-btn-invalid"
                        onclick="location.href='https://github.com/'">
                            Live Demo
                        </button>
                    </div>
                </div>

            </div>

            <script>
                const slideIndices = {};
        
                document.querySelectorAll('.slideshow-container').forEach(container => {
                    const slideshowId = container.getAttribute('data-slideshow');
                    slideIndices[slideshowId] = 1;
                    showSlides(slideIndices[slideshowId], slideshowId);
                });
        
                function plusSlides(n, slideshowId) {
                    showSlides(slideIndices[slideshowId] += n, slideshowId);
                }
        
                function showSlides(n, slideshowId) {
                    const slides = document.querySelectorAll(`.slideshow-container[data-slideshow="${slideshowId}"] .mySlides`);
                    if (n > slides.length) { slideIndices[slideshowId] = 1 }
                    if (n < 1) { slideIndices[slideshowId] = slides.length }
                    slides.forEach(slide => slide.style.display = "none");
                    slides[slideIndices[slideshowId] - 1].style.display = "block";
                }
            </script>
        </div>
    </section>

    <!--
    <section id="about">
        <div class="about-section-container">
            <div class="about-container">
                <h1 class="title about-title">About Me</h1>
                <div class="about-picture-container">
                    <img 
                    src="../static/assets/about-picture.jpg" 
                    alt="Profile Picture"
                    class="about-pic">
                </div>
                    <div class="about-text-container">
                        <p>
                            Hello! My name is Steven Egnaczyk. Currently, I'm
                            a graduate student at The Ohio State University 
                            pursuing a combined B.S/M.S Degree in Computer Science and Engineering. 
                            I'm extremely passionate about the changing landscape in 
                            Artificial Intelligence and Machine learning. I have gained valuable 
                            internship experience in the software development field at both 
                            Optum and Ab Initio. Right now, I am working at Vanguard as Machine Learning
                        Scientist, as well as a Graduate Teaching Assistant for Ohio State (Teaching
                        and introduction to Copmuter Science Course CSE 2221).
                        </p>
                    </div>
                </div>
            </div>
                <div class="about-details-container">
                    <div class="about-containers">
                        <div class="details-container">
                            <img
                            src="../static/assets/experience.png"
                            alt="Experience Icon"
                            class="icon"
                            />
                            <h3>Experience</h3>
                            <p>2+ years <br>Frontend Development</p>
                        </div>
                        <div class="details-container">
                            <img
                            src="../static/assets/education.png"
                            alt="Education Icon"
                            class="icon"
                            />
                            <h3>Education</h3>
                            <p>B.S Computer Science and Engineering<br>M.S Computer Science and Engineering</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img 
        src="../static/assets/arrow.png" alt="Arrow icon" class="icon arrow"
        onclick="location.href='../static/#experience'"
        >
    </div>
</section>

    <section id="experience">
        <p class="section__text__p1">Explore My</p>
        <h1 class="title">Experience</h1>
        <div class="experience-details-container">
            <div class="about-containers">
                <div class="details-container">
                    <h2 class="experience-sub-title">Frontend Development</h2>
                    <div class="article-container">
                        <article>
                            <img src="../static/assets/checkmark.png" alt="Checkmark Icon" class="icon">
                            <div>
                                <h3>HTML</h3>
                                <p>Experienced</p>
                            </div>
                        </article>
                        <article>
                            <img src="../static/assets/checkmark.png" alt="Checkmark Icon" class="icon">
                            <div>
                                <h3>CSS</h3>
                                <p>Experienced</p>
                            </div>
                        </article>
                        <article>
                            <img src="../static/assets/checkmark.png" alt="Checkmark Icon" class="icon">
                            <div>
                                <h3>Typescript</h3>
                                <p>Basic</p>
                            </div>
                        </article>
                        <article>
                            <img src="../static/assets/checkmark.png" alt="Checkmark Icon" class="icon">
                            <div>
                                <h3>SASS</h3>
                                <p>Intermediate</p>
                            </div>
                        </article>
                        <article>
                            <img src="../static/assets/checkmark.png" alt="Checkmark Icon" class="icon">
                            <div>
                                <h3>JavaScript</h3>
                                <p>Basic</p>
                            </div>
                        </article>
                        <article>
                            <img src="../static/assets/checkmark.png" alt="Checkmark Icon" class="icon">
                            <div>
                                <h3>MaterialUI</h3>
                                <p>Intermediate</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="details-container">
                    <h2 class="experience-sub-title">Backend Development</h2>
                    <div class="article-container">
                        <article>
                            <img src="../static/assets/checkmark.png" alt="Checkmark Icon" class="icon">
                            <div>
                                <h3>PostgreSQL</h3>
                                <p>NodeJS</p>
                            </div>
                        </article>
                        <article>
                            <img src="../static/assets/checkmark.png" alt="Checkmark Icon" class="icon">
                            <div>
                                <h3>ExpressJS</h3>
                                <p>Intermediate</p>
                            </div>
                        </article>
                        <article>
                            <img src="../static/assets/checkmark.png" alt="Checkmark Icon" class="icon">
                            <div>
                                <h3>GitHub</h3>
                                <p>Proficient</p>
                            </div>
                        </article>
                        <article>
                            <img src="../static/assets/checkmark.png" alt="Checkmark Icon" class="icon">
                            <div>
                                <h3>SASS</h3>
                                <p>Intermediate</p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <img 
        src="../static/assets/arrow.png" alt="Arrow icon" class="icon arrow"
        onclick="location.href='../static/#projects'"
        >
    </section>
-->

    <section id="contact">
        <p class="section__text__p1">Get in Touch</p>
        <h1 class="title">Contact Me</h1>
        <div class="contact-info-upper-container">
            <div class="contact-info-container">
                <img src="../static/assets/email.png" alt="Email Icon" class="icon contact-icon email-icon">
                <p>
                    <a href="mailto:stevenegnaczyk@gmail.com">StevenEgnaczyk@gmail.com</a>
                </p>
            </div>
            <div class="contact-info-container">
                <img 
                    src="../static/assets/linkedin.png" 
                    alt="LinkedIn Icon" 
                    class="icon contact-icon"
                />
                <p>
                    <a href="https://www.linkedin.com/in/steven-egnaczyk-949a71208/">LinkedIn</a>
                </p>
            </div>
        </div>
    </section>

    <footer>
        <nav>
            <div class="nav-links-container">
                <ul class="nav-links">
                    <li><a href="#about">About</a></li>
                    <li><a href="#experience">Experience</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <p>Copyright &#169; 2024 Steven Egnaczyk. All Rights Reserved.</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>
