@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{

    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* defining some css variables */

:root{

    --color-bg: #7c7c7c;
    --color-gray: #4d4d4d;
    --color-primary: #800000;
    --color-secondary: #4b0f0f;
    --color-black: #000;
    --color-white: #fff;

    --color-light: #edf2f4;
    --color-github-gray: #333;
    --color-github-green: #2ea043;

    --container-width-xl: 50%;
    --container-width-lg: 70%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
    
    --transition: all 400ms ease;


}

html{

    scroll-behavior: smooth;
}

/* removing the scrollbar */

::-webkit-scrollbar{

    display: none;
}

body{

    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    background-image: url(../src/assets/squared-metal.png);
}

/* General Styles */
.sm-container {
    width: var(--container-width-sm);
    margin: 0 auto;  /*position in the middle horizontally */
}

.container{
    width: var(--container-width-xl);
    margin: 0 auto;  /*position in the middle horizontally */
}

h1, h2, h3, h4, h5{
    font-weight: 500;
}

h1{
    font-size: 3.5rem;
    text-decoration: underline;
}

section > h2, section > h5{

    text-align: center;
    color: var(--color-light);
}

section > h2{

    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light{

    color: var(--color-light);
}

a{
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover{

    color: var(--color-white);
}

.btn{
    width: max-content; /* fit exactly it's content */
    display: inline-block;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: large;
    height: 100%;
    transition: var(--transition);
}

.btn-primary{
    border: 3px solid var(--color-white);
    background: var(--color-primary);
    color: var(--color-white);
}

.btn-primary:hover{
    border: 3px solid var(--color-primary);
    color: var(--color-primary);
    background: var(--color-white);
}

.btn-secondary {
    border: 3px solid var(--color-primary);
    background: var(--color-white);
    color: var(--color-primary);
}

.btn-secondary:hover {
    border: 3px solid var(--color-white);
    color: var(--color-white);
    background: var(--color-primary);
}

img{
    overflow: hidden;
    display: block;
    width: 100%;
    object-fit: cover;
}

/* Media queries for medium devices(Tablets) */

@media screen and (max-width: 1024px) {

    .container{

        width: var(--container-width-md);
    }

    section{

        margin-top: 6rem;
    }
    
}

/* Media queries for small devices(Mobiles) */

@media screen and (max-width: 600px) {

    .container{

        width: var(--container-width-sm);
    }

    section > h2{

        margin-bottom: 2rem;
    }
    
}